<a href="https://colab.research.google.com/github/lmy6268/mchine_study/blob/main/21_11_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#반복문

#while문 : 조건만 맞으면 무한반복 => 몇번 돌려야 할지 모를 때 사용
#for문 : 순서가 있는 유한반복 => 몇번 돌려야 할지 알 때 사용

# while 기본
# while 조건:

hit=0
while hit <10:
  hit=hit+1
  print('hello',end="")

hellohellohellohellohellohellohellohellohellohello

In [ ]:
coffee=10
while True:
  coffee=coffee-1
  print('커피를 한잔 팔고, {}잔 남았습니다'.format(coffee))
  if coffee==0:
    print('커피를 모두 팔았습니다.')
    break

커피를 한잔 팔고, 9잔 남았습니다
커피를 한잔 팔고, 8잔 남았습니다
커피를 한잔 팔고, 7잔 남았습니다
커피를 한잔 팔고, 6잔 남았습니다
커피를 한잔 팔고, 5잔 남았습니다
커피를 한잔 팔고, 4잔 남았습니다
커피를 한잔 팔고, 3잔 남았습니다
커피를 한잔 팔고, 2잔 남았습니다
커피를 한잔 팔고, 1잔 남았습니다
커피를 한잔 팔고, 0잔 남았습니다
커피를 모두 팔았습니다.

In [ ]:
a=0
while a<10:
  # a=a+1
  a+=1
  if a% 2==0:
    continue # 반복문을 돌리다가 continue를 만나면 강제로 시작구간으로 감.
  print(a)

1
3
5
7
9

In [ ]:
i=0
res=0
while i<1000:
  i+=1
  if i%3==0:
    res+=i
print(res)

166833

In [ ]:
#for 문
students = [90,25,75,45,100]
num=0
for i in students:
  num+=1
  if i <60:
    continue
  print(f"{num}번 학생 합격 -- {i}점")

1번 학생 합격 -- 90점
3번 학생 합격 -- 75점
5번 학생 합격 -- 100점

In [ ]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
box=[i for i in range(1,6)]
print(box)

[1, 2, 3, 4, 5]

In [ ]:
for i in range(1,6):
  box.append(i)
print(box)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
def want(a,b):
  return int((a**2+b**2)**0.5)
print(want(3,4))

5

In [ ]:
add= lambda a,b:a+b 
print(add(3,4))

7

In [ ]:
def fac(N):
    if N==1 or N==0:
        return 1
    else:
        return N*fac(N-1)
print(fac(5))

120

In [ ]:
#피보나치 수열
# def fibo(n):
#     if n==0 or n==1:
#         return n
#     else:
#         return fibo(n-1)+fibo(n-2)

#count를 이용
count=0
dp=[0,1,1]
def fibo(n):
    global dp
    global count
    count+=1
    if n in dp:
      return dp[n]
    else:
      dp.append(fibo(n-1)+fibo(n-2))
# 반복문
# def fibo(n):
#   dp=[0,1,1]
#   for i in range(3,n+1):
#     dp.append(dp[i-1]+dp[i-2])
#   return dp[n]

print(fibo(3))

1 0
None 1
1 0

TypeError: ignored

In [ ]:
f = open('test.txt','wt') #write text 새로 쓰는 기능
for  i in range(1,11):
  f.write("{}번째 줄입니다. \n".format(i))

f.close()

In [ ]:
f = open('test.txt','at') #attach text
for  i in range(1,11):
  f.write("{}번째 줄입니다. \n".format(i))

f.close()

In [ ]:
f = open('test.txt','rt')
a=f.readlines()

f.close()
a

['1번째 줄입니다. \n',
 '2번째 줄입니다. \n',
 '3번째 줄입니다. \n',
 '4번째 줄입니다. \n',
 '5번째 줄입니다. \n',
 '6번째 줄입니다. \n',
 '7번째 줄입니다. \n',
 '8번째 줄입니다. \n',
 '9번째 줄입니다. \n',
 '10번째 줄입니다. \n',
 '1번째 줄입니다. \n',
 '2번째 줄입니다. \n',
 '3번째 줄입니다. \n',
 '4번째 줄입니다. \n',
 '5번째 줄입니다. \n',
 '6번째 줄입니다. \n',
 '7번째 줄입니다. \n',
 '8번째 줄입니다. \n',
 '9번째 줄입니다. \n',
 '10번째 줄입니다. \n']

In [ ]:
# 클래스
class Bank:
  def __init__(self):#초기화 설정함수(권한을 줄 때, 자동으로 한번 실행되는 함수)
    print("고객님 가입을 축하드립니다")
    self.money=0 
  def deposit(self,a):
    self.money=a
  def withdraw(self,a)

a=Bank()

고객님 가입을 축하드립니다

In [ ]:
class Bank2(Bank): #Bank의 기능을 모두 상속 받음
  def withdraw(self,a):
    if self.money-a>0:
      self.money-=a
      print("{}원이 출금되었습니다".format(a))
    else:
      print("잔액이 부족합니다")
b=Bank2()
b.deposit(100000)
b.withdraw(3000)

고객님 가입을 축하드립니다
3000원이 출금되었습니다

In [ ]:
# 예외처리 : 에러가 발생했을 때, 에러를 무시하는 기술
import calendar
print(calendar.prmonth(2015,8))

    August 2015
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31
None

In [ ]:
print(calendar.weekday(2015,12,31))

3